EXPO_PUBLIC_API_URL=http://your_local_ip:8080/api
EXPO_PUBLIC_SOCKET_URL=http://your_local_ip:8080
EXPO_NOTIFICATION_URL=http://your_local_ip:8080/ws
EXPO_PUBLIC_S3_BUCKET=your-s3-bucket-name
EXPO_PUBLIC_OTP_LENGTH=6
EXPO_PUBLIC_GIPHY_API_KEY=your_giphy_api_key_here
EXPO_PUBLIC_APP_URL=http://your_local_ip:3000
