# Server
PORT=8088

# JWT
JWT_SECRET=your_jwt_secret_here

# AWS DynamoDB
AWS_ACCESS_KEY_ID=your_aws_access_key
AWS_SECRET_ACCESS_KEY=your_aws_secret_key
AWS_REGION=ap-southeast-2
DYNAMODB_TABLE_CONVERSATIONS=chat_conversations
DYNAMODB_TABLE_MESSAGES=chat_messages

# AWS S3
S3_BUCKET_CHAT=ecommerce-chat-service

# Kafka
KAFKA_SERVER=kafka:29092
